 <!-- Footer's code -->
<footer id="sticky-footer" class="flex-shrink-0 py-3 bg-dark text-white">
  <div class="container text-center">
    Made with <i class="fa fa-heart"></i> by <%= link_to "Ram Gopal", "https://ramgopal.dev/", class: "text-white " %>
</footer>
  </div>
